apiVersion: v1
kind: Service
metadata:
  name: pihole
spec:
  externalName: 192.168.1.101
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 80
  sessionAffinity: None
  type: ExternalName
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: pihole
  annotations:
    # nginx.ingress.kubernetes.io/backend-protocol: "HTTPS" #important
    # nginx.ingress.kubernetes.io/whitelist-source-range: |
    #   10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
    hajimari.io/enable: "true"
    hajimari.io/icon: "simple-icons:pihole"
    hajimari.io/appName: Pi-Hole
    hajimari.io/info: Pi-Hole
    hajimari.io/group: DNS
spec:
  ingressClassName: internal
  rules:
  - host: pihole.${SECRET_DOMAIN}
    http:
      paths:
      - path: /admin
        pathType: Prefix
        backend:
          service:
            name: pihole
            port:
              number: 80
  tls:
    - hosts:
      - "pihole.${SECRET_DOMAIN}"
